<h1><%= t ('brewery.admin.auth_core.users.title') %></h1>

<noscript>
	<%= will_paginate @users %>
</noscript>
<table class="table table-striped" id="infinite-scroll" data-infinite-url="/admin/users" data-infinite-current-page="1">
	<thead>
		<tr>
			<th>EMAIL</th>
			<th>EMAIL</th>
			<th><%= t 'brewery.general.actions_title' %></th>
		</tr>
	</thead>

	<%= render 'users', users: @users %>
	<tbody class="loading hide">
		<tr>
			<td colspan="3">
				<%= css_loading_icon %>
				<%= t 'brewery.general.loading_more_results' %>
			</td>
		</tr>
	</tbody>
</table>

<noscript>
	<%= will_paginate @users %>
</noscript>