<!DOCTYPE html>
<html>
<head>
  <title>Brewery</title>
  <%= stylesheet_link_tag    "brewery/application", media: "all" %>
  <%= javascript_include_tag "brewery/application" %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render partial: 'brewery/shared/application_menu' %>

	<% flash.keys.each do |flash_type| %>
		<p class="alert alert-<%= flash_type %>">
			<%= flash[flash_type] %>

			<a href="#" class="close" data-dismiss="alert">&times;</a>
		</p>
	<% end %>

	<main class="container">
		<%= yield %>
	</main>

</body>
</html>
